<div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; overflow: hidden;">
  <img src="../assets/bg.jpg" style="display: block; opacity: 1; width: 100%; height: 100%;">
</div>

<div class="text-right">
  <%= render "devise/shared/links" %>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="mycenter">
      <div class="mysign">
        <div class="col-lg-11 text-center text-info">
          <h2>请登录</h2>
        </div>
        <div class="col-lg-10">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "请输入email" %>
        </div>
        <div class="col-lg-10">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "请输入密码" %>
        </div>
        <% if devise_mapping.rememberable? -%>
            <div class="col-lg-10 mycheckbox checkbox">
              <%= f.check_box :remember_me, class: "col-lg-1" %>
              <%= f.label :remember_me, style: "margin-top: 2px;" %>
            </div>
        <% end -%>
        <div class="col-lg-10">
          <%= f.submit "Log in", class: "btn btn-success col-lg-12" %>
        </div>
      </div>
    </div>

<% end %>









